@{

}
<div>
    <a class="align-baseline" asp-controller="Admin" asp-action="Assign"> Click here to assign Managers</a>
</div>

<hr />
<div>
    <a class="btn-lg btn-success" asp-controller="Admin" asp-action="AddUser">Add a Staff</a>
</div>
<br />
<div>
    <a class="btn-lg btn-success" asp-controller="Admin" asp-action="ViewRequests">View all Requests</a>
</div>

